WebServices/WebServices/Service References/Calculator/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WebServices.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WebServices.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Pickle">
    <xs:sequence>
      <xs:element minOccurs="0" name="Bumps" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Pickle" nillable="true" type="tns:Pickle" />
</xs:schema>